{% extends 'base/base_head.html' %}
{% load static %}

{% block bloque_titulo %}
    Sistema de administración de contenido | Sobre mí
{% endblock bloque_titulo %}

{% block bloque_nav_item_sobre_mi %}
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 active" href={% url 'about' %}><i class="bi bi-info-circle"></i> Sobre mí</a></li>
{% endblock bloque_nav_item_sobre_mi %}

{% block bloque_h1_header %}
    Sobre mí
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
    Un breve comentario del autor
{% endblock bloque_sub_header %}

{% block bloque_contenido %}
    <section class="testimonials text-center bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src= {% static 'assets/img/lopez.jpg' %} alt="Germán López"/>
                        <h5>Germán López</h5>
                        <p class="mb-0 fst-italic">
                            "Soy de Río Cuarto, Córdoba, y tengo 31 años. Soy desarrollador COBOL y PL/SQL, con 7 años de experiencia."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock bloque_contenido %}
