{% extends './base.html' %}

{% block bloque_header %}
    <header class="bg-dark py-4">
        <div class="container px-3 px-lg-4 my-4">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">
                    {% block bloque_h1_header %}
                    {% endblock bloque_h1_header %}
                </h1>
                <p class="lead fw-normal text-white-50 mb-0">
                    {% block bloque_sub_header %}
                    {% endblock bloque_sub_header %}
                </p>
            </div>
        </div>
    </header>
{% endblock bloque_header %}
