{% extends './base.html' %}

{% block bloque_header %}
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <h1 class="text-center text-white display-4 fst-italic">
                        {% block bloque_h1_header %}
                        {% endblock bloque_h1_header %}
                    </h1>
                </div>
            </div>
        </div>
    </header>
{% endblock bloque_header %}
