{% extends 'base/base_head.html' %}

{% block bloque_titulo %}
    Sistema de administración de contenido | Cambiar contraseña
{% endblock bloque_titulo %}

{% block bloque_h1_header %}
    Cambiar contraseña
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
    Establecé una nueva contraseña
{% endblock bloque_sub_header %}

{% block bloque_contenido %}
    <section class="bg-light">
        <div class="container">
            <form class="p-3 p-lg-4" action={% url 'cambiar_password' %} method="POST">
                {% csrf_token %}
                <table class="col-md-5 fst-italic">
                    {{ formulario_cambio_password.as_table }}
                </table>
                <div class="py-3 py-lg-4">
                    <button class="btn btn-outline-primary fst-italic"><i class="bi bi-save2"></i> Guardar</button>
                    <a class="btn btn-outline-danger fst-italic" href={% url 'ver_perfil' %} role="button"><i class="bi bi-x-circle"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </section>
{% endblock bloque_contenido %}
