{% extends 'base/base_head.html' %}

{% block bloque_titulo %}
    Sistema de administración de contenido | Búsqueda
{% endblock bloque_titulo %}

{% block bloque_nav_items %}
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 active" href={% url 'buscar_posts' %}><i class="bi bi-search"></i> Buscar</a></li>
{% endblock bloque_nav_items %}

{% block bloque_h1_header %}
    Búsqueda de publicaciones
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
    Filtrá publicaciones por título
{% endblock bloque_sub_header %}

{% block bloque_contenido %}
    <section class="bg-light">
        <div class="container">
            <form class="p-3 p-lg-4" action={% url 'buscar_posts' %} method="GET">
                <table class="col-md-5 fst-italic">
                    {{ formulario_buscar_posts.as_table }}
                </table>
                <div class="py-3 py-lg-4">
                    <button class="btn btn-outline-primary fst-italic"><i class="bi bi-search"></i> Buscar</button>
                    <!-- Divider-->
                    <hr/>
                </div>
            </form>
            {% if posts %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% for post in posts %}
                            <!-- Post preview-->
                            <div class="post-preview">
                                <a href={% url 'ver_post' post.id %}>
                                    <h2 class="post-title">{{ post.titulo }}</h2>
                                    <h3 class="post-subtitle">{{ post.subtitulo }}</h3>
                                </a>
                                <p class="post-meta">
                                    Posteado por {{ post.autor }} el {{ post.fecha_creacion }}.
                                </p>
                            </div>
                            <!-- Divider-->
                            <hr class="my-4"/>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="px-3 px-lg-4 pb-3 pb-lg-4 lead fst-italic">
                    <p>No se encontraron publicaciones con los datos ingresados.</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock bloque_contenido %}
